/* Color Palette */
$smooth-color: #f4f5f6;
$accent-color: #2196F3;

// Specific color declarations
$header-background: $smooth-color;
$menu-background: $accent-color;

// Sizing
$container-width: 600px;

// Animations
$menu-transition-speed: 0.5s;
$hover-speed: 0.3s;

/* Mobile definitions */
$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
$hd: 1080px;

/* Global definitions */
@import "globals";

/* Get Navigarion bar styles */
@import "navbar";

/* header block */
@import "headerblock";

/* Get Index */
@import "pages";

/* Get Index */
@import "index";

/* Get Search */
@import "search";

/* Grab footer */
@import "footer"