doctype html
html
	include _header.pug

	main
		div#header
			h1 #{site.identity.title}
		div#featuredimg
			img( src=file.meta.featuredimg )
		section#post.container
			article !{file.html}

	include _footer.pug