doctype html
html
	include _header.pug
	body
		include _menu.pug

		main
			div#header
				h1 #{site.identity.title}
			div#featuredimg
				img#feat( src=site.system.url + file.meta.featuredimg, alt="Featured Image")
			section#post.container
				article !{file.html}

		include _footer.pug