doctype html
html
	include _header.pug
	body
		include _menu.pug
		main
			div#header
				h1 Category: #{category}
			section#categories.container
				h2 Posts:
				each post in posts
					- if ( post.meta.categories.indexOf( category ) != -1 )
						a.postlist( href=site.system.url + category + "/" + post.slug )
							article
								h3 #{post.meta.title}
								span #{post.meta.desc}

		include _footer.pug